@font-face {
  font-family: "Roobert-Regular";
  src: url("../fonts/Roobert-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert-Medium";
  src: url("../fonts/Roobert-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Neue-Regular";
  src: url("../fonts/PPNeueMontreal-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Neue-Medium";
  src: url("../fonts/PPNeueMontreal-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("../fonts/LibreBaskerville-Regular.woff") format("woff2");
}
