.header {
  position: fixed;
  top: 0px;
  z-index: 3;
  color: rgb(255, 255, 255);
  width: 100%;
  background: rgba(25, 26, 31, 0.8);
  backdrop-filter: blur(15px);


  .inner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include mobile {
      height: 60px;
    }
  }

  .logo {
    width: 205px;
    height: 28px;
    background: url("../images/nbs_bi.svg") 0px 50% / 205px no-repeat;
  }

  .gnb {
    height: 100%;

    .nav {
      &-list {
        display: flex;
        height: 100%;
      }

      &-item {
        display: flex;
        align-items: center;
        white-space: nowrap;

        &_title {
          span {
            margin-right: 80px;
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
          }

        }
      }
    }

    @include mobile {
      display: none;
    }

  }

  .group-area {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;

    .notice {
      padding: 5px 8px 3px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;

      @include mobile {
        display: none;
      }
    }

    .search-btn {
      width: 38px;
      height: 38px;
      background-image: url("../images/sprite.svg");
      background-position: 22.186836518% 99.9201915403%;
      margin-right: 8px;
    }

    .profile-image {
      width: 32px;
      height: 32px;
      background-image: url("../images/profile-image.png");
      background-size: cover;
      border-radius: 50%;

      &+.floating-profile {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 60px;
        right: 0px;
        min-width: 186px;
        height: 342px;
        transition: height 0.1s ease 0s;
        padding: 22px 0px 22px;
        visibility: hidden;
        background: rgba(25, 26, 31, 0.8);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
        backdrop-filter: blur(15px);
        border-radius: 8px;
        z-index: 10;

        .hr {
          border-top: 1px solid rgba(255, 255, 255, 0.06);
          height: 1px;
          width: 100%;
          margin: 8px 0;
        }

        .informations {
          padding-left: 22px;
          padding-right: 22px;

          .greetings {
            margin-top: 12px;

            .message {
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;

              span {
                color: rgb(113, 229, 215);
              }
            }

          }
        }

        .information {
          display: flex;
          align-items: center;
          height: 36px;

          &.my {
            &:before {
              content: "";
              display: block;
              background-image: url("../images/sprite.svg");
              background-position: 57.2478991597% 90.8091123331%;
              width: 18px;
              height: 18px;
            }
          }

          &.usage {
            &:before {
              content: "";
              display: block;
              background-image: url("../images/sprite.svg");
              background-position: 60.0840336134% 90.8091123331%;
              width: 18px;
              height: 18px;
            }
          }

          &.point {
            &:before {
              content: "";
              display: block;
              background-image: url("../images/sprite.svg");
              background-position: 74.1596638655% 92.2955974843%;
              width: 18px;
              height: 18px;
            }
          }

          &.reservation {
            &:before {
              content: "";
              display: block;
              background-image: url("../images/sprite.svg");
              background-position: 75.1050420168% 92.2955974843%;
              width: 18px;
              height: 18px;
            }
          }

          &.logout {
            &:before {
              content: "";
              display: block;
              background-image: url("../images/sprite.svg");
              background-position: 56.3025210084% 90.8091123331%;
              width: 18px;
              height: 18px;
            }
          }

          .title {
            color: rgb(255, 255, 255);
            margin-left: 8px;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            // color: rgb(177, 181, 194);
          }
        }
      }

      &:hover+.floating-profile {
        visibility: visible;
      }

      @include mobile {
        display: none;
      }
    }

    .burgerBtn {
      background-image: url("../images/sprite.svg");
      background-position: 14.118895966% 99.9201915403%;
      width: 38px;
      height: 38px;
    }

  }

}

.backdrop {
  .inner {
    display: none;

  }

  &.on {
    border-top: 1px solid rgb(38, 42, 53);

    .inner {
      display: flex;
      height: fit-content;
    }
  }

  .empty-area {
    width: 205px;

  }

  .sub {
    &-area {
      display: flex;
      flex: 1;
    }

    &-list {
      padding-bottom: 18px;

      .empty-title {
        visibility: hidden;
        margin-right: 80px;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
      }

    }

    &-item {
      line-height: 18px;
      padding: 9px 0;
      font-size: 15px;
    }
  }
}

.onlineEducation-menu {
  display: none;
  border-top: 1px solid rgb(38, 42, 53);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;

  &.on {
    display: block;
  }

  .inner {
    height: 52px;

    @include mobile {
      padding: 0;
      padding-right: 16px;
      // overflow: initial;
    }


    .swiper-wrapper {
      white-space: nowrap;
      font-size: 0;
      color: rgb(177, 181, 194);

      @include mobile {
        // overflow: initial;
      }
    }


    .swiper-slide {
      display: inline-block;
      width: auto;
      padding: 18px 0px 14px;

      &:nth-child(1) {
        padding-left: 16px;
      }

      a {
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;

        @include mobile {
          font-size: 14px;
          line-height: 20px;
        }

      }


      &.on {
        color: rgb(113, 229, 215);
      }

    }
  }




}

// .search-btn {
//   display: inline-flex;
//   flex-direction: row;
//   -webkit-box-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   align-items: center;
// }

// .header {
//   position: fixed;
//   top: 0px;
//   left: 0;
//   right: 0;
//   z-index: 3;
//   background-color: transparent;
//   overflow: hidden;
//   cursor: pointer;
//   background-color: rgba(0, 0, 0, 0);
//   background-image: linear-gradient(#000, rgba(0, 0, 0, .56) 48%, rgba(0, 0, 0, .23) 74%, rgba(0, 0, 0, .1) 85%, rgba(0, 0, 0, 0));
//   padding: 1.3vw 0;

//   .inner {
//     display: flex;
//     align-items: center;
//     color: #fff;
//   }

//   .logo-wrap {
//     display: flex;
//     align-items: center;
//   }

//   .logo {
//     padding-right: 2vw;

//     a {
//       display: block;
//       width: 3.7vw;

//       @include tablet {
//         width: 7vw;
//         padding: 0.6vw 0;
//       }

//       @include mobile {
//         width: 11vw;
//       }
//     }
//   }
// }

// .gnb {

//   @include tablet {
//     display: none;
//   }

//   .nav-list {
//     display: flex;
//     // @include mobile {
//     //   gap: 20px;
//     // }

//     .nav-item {
//       color: #fff;
//       padding: 2vw 2.25vw;
//       // padding: 0 7em;
//       // padding: 7.01em 7.06em;

//       a {
//         display: block;
//         transition: 0.3s;
//         font-size: 1.32vw;
//         font-weight: 500;
//         opacity: .65;
//         transition: 0.5s;
//         line-height: 1.2;

//         &:hover {
//           opacity: 1;
//         }

//       }


//       .sub-list {
//         padding-top: 14px;
//         display: flex;
//         flex-direction: column;
//         gap: 20px;

//         @include mobile {
//           padding: 20px 0;
//           gap: 20px;
//         }

//         .sub-item {
//           font-size: 14px;
//           position: relative;
//           overflow: hidden;
//           height: 14px;
//           line-height: 14px;

//           @include mobile {
//             font-size: 16px;
//           }
//         }
//       }
//     }
//   }

// }

// .group-util {
//   margin-left: auto;

//   .util-list {
//     display: flex;
//     align-items: center;

//     .btn {
//       padding: 0.2vw 0.5vw;
//       display: flex;
//       align-items: flex-end;
//       margin-right: 1vw;
//       width: 3vw;
//       height: 3vw;
//       margin-right: 1.5vw;

//       svg {
//         width: 100%;
//         height: 100%;
//       }

//       @include tablet {
//         width: 3.5vw;
//         height: 3.5vw;
//         margin-right: 3vw;
//       }

//       @include mobile {
//         width: 4vw;
//         height: 4vw;
//       }

//       .cart-quantity {
//         width: 1.2vw;
//         height: 1.2vw;
//         margin-left: -0.6vw;
//         margin-bottom: -0.3vw;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         font-size: 0.7vw;
//         font-weight: 700;
//         color: #000;
//         background-color: #fff;
//         border-radius: 100%;

//         @include tablet {
//           width: 1.6vw;
//           height: 1.6vw;
//           margin-left: -0.9vw;
//           margin-bottom: -0.3vw;
//         }

//         @include mobile {
//           width: 2.3vw;
//           height: 2.3vw;
//           margin-left: -1.3vw;
//           margin-bottom: -0.5vw;
//         }
//       }

//     }



//     .link-getClixr1 {
//       font-size: 1.3vw;
//       width: auto;
//       height: auto;
//       border: 0.14vw solid #73ffa2;

//       @include tablet {
//         display: none;
//       }
//     }

//     .burgerBtn {
//       display: none;

//       @include tablet {
//         display: flex;
//         align-self: flex-end;
//         transform: translateY(0%);
//         width: 2.985vw;
//         height: 1.7vw;
//         cursor: pointer;

//         @include mobile {
//           align-self: auto;
//         }
//       }

//       .bar {
//         background-color: #fff;
//         position: absolute;
//         left: 0;
//         width: 100%;
//         height: 0.3vw;
//         border-radius: 2vw;
//         transition: 0.3s;

//         &.positionTop {
//           top: 0%;
//         }

//         &.positionBottom {
//           top: 100%;
//           transform: translateY(-100%);
//         }
//       }

//     }
//   }

// }