@charset "UTF-8";
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@font-face {
  font-family: "Roobert-Regular";
  src: url("../fonts/Roobert-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roobert-Medium";
  src: url("../fonts/Roobert-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Neue-Regular";
  src: url("../fonts/PPNeueMontreal-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Neue-Medium";
  src: url("../fonts/PPNeueMontreal-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("../fonts/LibreBaskerville-Regular.woff") format("woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

/* 세팅 */
body {
  /* 기본적인 국문의 폰트패밀리 적용 */
  font-family: "Roobert-Medium", -apple-system, BlinkMacSystemFont, NotoSans, "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}

fieldset {
  border: 0;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.scroll-hide {
  overflow: hidden;
}

.inner {
  margin: 0 auto;
  max-width: 1360px;
  padding: 0px 16px;
}
@media screen and (max-width: 990px) {
  .inner {
    padding: 0px 30px;
    min-width: 320px;
    max-width: none;
  }
}

#skip-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
#skip-header a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  background: #ccc;
}

.scrollTop {
  position: fixed;
  right: 12px;
  bottom: 20px;
  z-index: 1000;
  cursor: pointer;
}

@keyframes opacityAni {
  from {
    display: block;
  }
  to {
    display: none;
  }
}
/* Custom, iPhone Retina : 320px ~ */
/* Extra Small Devices, Phones : 480px ~ */
/* Small Devices, Tablets : 768px ~ */
/* Medium Devices, Desktops : 992px ~ */
/* Large Devices, Wide Screens : 1200px ~ */
/*==========  Non-Mobile First Method  ==========*/
/* All Device */
/* Large Devices, Wide Screens : ~ 1200px */
/* Medium Devices, Desktops : ~ 992px */
/* Small Devices, Tablets : ~ 768px */
/* Extra Small Devices, Phones : ~ 480px */
/* Custom, iPhone Retina : ~ 320px */
@keyframes loader-sync {
  0%, 80%, 100% {
    box-shadow: 0px 0px;
    height: 4em;
  }
  40% {
    box-shadow: 0px -2em;
    height: 5em;
  }
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  padding: 16px 0;
  transform: translateY(-100%);
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  max-width: none;
}
@media screen and (max-width: 850px) {
  .header .inner {
    padding: 0 30px;
  }
}
.header .logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #fff;
  font-family: "LibreBaskerville-Regular", sans-serif;
  gap: 10px;
}
.header .logo svg {
  height: 26px;
  width: 26px;
}
.header .gnb {
  height: 100%;
  background-color: rgba(41, 41, 41, 0.45);
  padding: 4px;
  border-radius: 17px;
  font-family: "Roobert-Medium", sans-serif;
  font-size: 14px;
}
@media screen and (max-width: 990px) {
  .header .gnb {
    display: none;
  }
}
.header .gnb .nav-list {
  display: flex;
}
.header .gnb .nav-item_title {
  display: block;
  opacity: 0.6;
  padding: 12px 18px;
  transition: all 0.3s;
  color: #ffffff;
}
.header .gnb .nav-item_title:hover {
  opacity: 1;
}
.header .link_mail,
.header .btn_burger {
  border-radius: 17px;
  background-color: rgba(41, 41, 41, 0.45);
  display: flex;
  align-items: center;
  font-family: "Roobert-Medium", sans-serif;
  position: relative;
  padding: 16px 18px;
  font-size: 14px;
  transition: all 0.3s;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 850px) {
  .header .link_mail:hover,
  .header .btn_burger:hover {
    background-color: #d2ff85;
    color: rgb(12, 7, 12);
  }
}
.header .header_actions {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 990px) {
  .header .header_actions .link_mail {
    display: none;
  }
}
.header .header_actions .btn_burger {
  display: none;
}
@media screen and (max-width: 990px) {
  .header .header_actions .btn_burger {
    display: block;
  }
}

.footer {
  padding-top: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 200px;
  color: #fff;
  font-family: "Libre Baskerville";
}
@media screen and (max-width: 850px) {
  .footer {
    padding-top: 200px;
  }
}
.footer .inner {
  width: 100%;
  max-width: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
@media screen and (max-width: 990px) {
  .footer .inner {
    flex-direction: column;
    gap: 60px;
    padding: 0px 30px;
  }
}
.footer .heading_area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .heading_area .headline {
  font-weight: 400;
  font-size: 30px;
}
.footer .link_mail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #b0a3ff;
  font-size: 20px;
  text-align: center;
  transition: 0.5s ease;
  color: #000;
  background-image: linear-gradient(#d2ff85, #d2ff85);
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: color 0.4s cubic-bezier(0.36, 0.3, 0, 1), background-size 0.6s cubic-bezier(0.36, 0.3, 0, 1);
}
.footer .link_mail:after {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  transform: translateX(0);
  background: url("../images/ico_black_arrow.png") no-repeat;
  background-size: cover;
  transition: 0.5s ease;
  content: "";
}
.footer .link_mail:hover, .footer .link_mail:focus {
  background-position: 0% 100%;
  background-size: 100% 100%;
}
.footer .link_mail:hover::after, .footer .link_mail:focus::after {
  display: block;
  transform: translateX(10px);
}
.footer .content-box {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  width: 100%;
}
.footer .content-box .title {
  font-size: 16px;
  letter-spacing: -0.25px;
  font-family: "Roobert-Regular", sans-serif;
  padding-bottom: 1vw;
  line-height: 1.3;
}
.footer .content-box .cate {
  text-transform: uppercase;
}
.footer .footer_logo_area {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.footer .footer_logo_area .footer_logo {
  width: 13%;
  height: 100%;
  transform: rotate(-50deg) translate(0vw, 1vw);
}
.footer .footer_logo_area .text {
  width: 87%;
}

.wrapper {
  background-color: #000;
}

.thumb_box {
  border-radius: 32px;
  overflow: hidden;
}
.thumb_box img,
.thumb_box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.job {
  color: #b0a3ff;
}

.section_visual {
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.section_visual video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}
.section_visual .inner {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .section_visual .inner {
    align-items: flex-start;
  }
}
.section_visual .headline {
  font-size: 100px;
  font-weight: 400;
  font-family: "Roobert-Regular", sans-serif;
  line-height: 1;
  position: relative;
  transform: translateY(20%);
  opacity: 0;
}
@media screen and (max-width: 990px) {
  .section_visual .headline {
    font-size: 80px;
  }
}
@media screen and (max-width: 600px) {
  .section_visual .headline {
    font-size: 40px;
  }
}
.section_visual .headline:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.section_visual .headline:hover::after {
  opacity: 1;
  visibility: visible;
}
.section_visual .desc_wrap {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 32px;
  transform: translateY(20%);
  opacity: 0;
}
.section_visual .desc {
  position: relative;
  max-width: 640px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roobert-Regular", sans-serif;
  line-height: 1.6;
}
@media screen and (max-width: 600px) {
  .section_visual .desc {
    font-size: 16px;
  }
}
.section_visual .desc:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.section_visual .desc:hover::after {
  opacity: 1;
  visibility: visible;
}
.section_visual .mail_link {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 48px;
  background-color: #d2ff85;
  color: rgb(12, 7, 12);
  border-radius: 24px;
  font-size: 20px;
  opacity: 0;
  transform: translateY(50%);
  cursor: pointer;
  background-image: linear-gradient(#b0a3ff, #b0a3ff);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: color 0.4s cubic-bezier(0.36, 0.3, 0, 1), background-size 0.6s cubic-bezier(0.36, 0.3, 0, 1);
}
.section_visual .mail_link:hover, .section_visual .mail_link:focus {
  background-position: 0% 100%;
  background-size: 100% 100%;
}
@media screen and (max-width: 600px) {
  .section_visual .mail_link {
    font-size: 16px;
  }
}

.content_wrap {
  position: relative;
  margin-top: 100vh;
  background-color: #000;
}

.section_introduce {
  padding-top: 100px;
  margin-top: 100vh;
}
.section_introduce .headline {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
}
.section_introduce .headline .icon {
  color: #d2ff85;
}
.section_introduce .desc {
  font-size: 70px;
  line-height: 1.2;
}
@media screen and (max-width: 990px) {
  .section_introduce .desc {
    font-size: 40px;
  }
}
.section_introduce .profile_box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 52px;
}
.section_introduce .thumb_box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
@media screen and (max-width: 850px) {
  .section_introduce .thumb_box {
    width: 66px;
    height: 66px;
  }
}
.section_introduce .text_box {
  font-size: 20px;
  font-family: "Neue-Regular", sans-serif;
}
@media screen and (max-width: 850px) {
  .section_introduce .text_box {
    font-size: 16px;
  }
}

.section_work {
  padding-top: 320px;
}
@media screen and (max-width: 600px) {
  .section_work {
    padding-top: 200px;
  }
}
.section_work .headline {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.05;
  position: relative;
  margin-bottom: 30px;
}
.section_work .headline .icon {
  color: #d2ff85;
}
.section_work .headline:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.section_work .headline:hover::after {
  opacity: 1;
  visibility: visible;
}
.section_work .works_area {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 160px;
}
@media screen and (max-width: 990px) {
  .section_work .works_area {
    flex-direction: column;
    gap: 64px;
  }
}
.section_work .works_box {
  display: flex;
  gap: 12px;
}
.section_work .works_box:has(.is_scale) {
  justify-content: center;
}
@media screen and (max-width: 990px) {
  .section_work .works_box {
    flex-direction: column;
    gap: 64px;
  }
}
.section_work .works_box:nth-child(1) .work_link:nth-child(1) {
  flex: 1.5;
}
.section_work .works_box:nth-child(2) .work_link:nth-child(1) img {
  -o-object-position: 44.5% 0px;
     object-position: 44.5% 0px;
}
.section_work .works_box:nth-child(4) .work_link:nth-child(2) {
  flex: 1.5;
}
.section_work .work_link {
  flex: 1;
}
@media screen and (min-width: 850px) {
  .section_work .work_link:hover .title {
    margin-left: 10px;
  }
  .section_work .work_link:hover .title .title_text {
    color: #000;
  }
  .section_work .work_link:hover .title .title_text::before {
    background-color: #fff;
    height: 100%;
  }
  .section_work .work_link:hover .ico_arrow {
    transform: translateX(0);
  }
  .section_work .work_link:hover .desc {
    opacity: 1;
  }
}
.section_work .work_link.is_active {
  transform: translateY(30%);
}
@media screen and (max-width: 990px) {
  .section_work .work_link.is_active {
    transform: none;
  }
}
.section_work .work_link.is_scale {
  flex: none;
  min-width: 50%;
}
@media screen and (max-width: 990px) {
  .section_work .work_link.is_scale {
    flex: auto;
    min-width: auto;
  }
}
.section_work .work_link.is_scale .thumb_box {
  aspect-ratio: auto;
}
@media screen and (max-width: 990px) {
  .section_work .work_link.is_scale .thumb_box {
    aspect-ratio: 1/1;
  }
}
.section_work .work_link .thumb_box {
  aspect-ratio: 1/1;
  position: relative;
}
.section_work .work_link .thumb_box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.1;
  background: url("https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png");
}
.section_work .work_link .thumb_video {
  position: relative;
}
.section_work .work_link .thumb_video:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.1;
  background: url("https://jeon-hyerin.github.io/landing/assets/images/bg/overlay.gif");
}
.section_work .text_box {
  overflow: hidden;
  margin-top: 20px;
}
.section_work .text_box .title_box {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 990px) {
  .section_work .text_box .title_box {
    gap: 10px;
  }
}
.section_work .text_box .ico_arrow {
  transform: translateX(-100%);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media screen and (max-width: 990px) {
  .section_work .text_box .ico_arrow {
    transform: none;
  }
}
.section_work .text_box .title {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  font-size: 40px;
  font-family: "Neue-Regular", sans-serif;
  font-weight: 100;
}
@media screen and (max-width: 1200px) {
  .section_work .text_box .title {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 990px) {
  .section_work .text_box .title {
    flex-direction: row;
    align-items: flex-end;
    font-size: 25px;
  }
}
.section_work .text_box .title .title_text {
  color: #fff;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative;
  z-index: 1;
}
.section_work .text_box .title .title_text:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: -1;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section_work .text_box .title .cate {
  font-size: 23px;
  color: #ccc;
}
@media screen and (max-width: 850px) {
  .section_work .text_box .title .cate {
    font-size: 20px;
  }
}
.section_work .text_box .desc {
  opacity: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
  font-family: "Neue-Regular", sans-serif;
  font-size: 1.3rem;
  gap: 5px;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section_work .text_box .desc:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #f4f4f4;
  margin: 0px 4px;
}
@media screen and (max-width: 990px) {
  .section_work .text_box .desc {
    opacity: 1;
  }
}

.section_capabilities {
  padding-top: 320px;
}
@media screen and (max-width: 600px) {
  .section_capabilities {
    padding-top: 200px;
  }
}
.section_capabilities .inner {
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
}
.section_capabilities .headline {
  color: rgb(92, 92, 92);
  text-align: center;
  position: relative;
  margin-bottom: 46px;
}
.section_capabilities .headline:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 0;
  right: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.section_capabilities .headline:hover::after {
  opacity: 1;
  visibility: visible;
}
.section_capabilities .marauee_area {
  display: flex;
  animation: marquee 25s linear infinite;
  gap: 120px;
}
.section_capabilities .capabilities_list {
  display: flex;
  gap: 120px;
}
.section_capabilities .capabilities_item {
  font-size: 20px;
  width: 140px;
  height: 57px;
}
.section_capabilities .capabilities_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section_goals {
  padding-top: 320px;
}
@media screen and (max-width: 600px) {
  .section_goals {
    padding-top: 200px;
  }
}
.section_goals .headline {
  color: rgb(255, 255, 255);
  font-size: 90px;
  font-weight: 400;
  font-family: "Roobert-Regular", sans-serif;
  line-height: 1.05;
  padding-bottom: 100px;
  position: relative;
}
@media screen and (max-width: 990px) {
  .section_goals .headline {
    font-size: 74px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 600px) {
  .section_goals .headline {
    font-size: 36px;
  }
}
.section_goals .headline .text {
  color: #b0a3ff;
}
.section_goals .headline:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 40px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 25px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.section_goals .headline:hover::after {
  opacity: 1;
  visibility: visible;
}
.section_goals .goals_area {
  display: flex;
  align-items: center;
  padding-top: 120px;
}
.section_goals .text_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 600px) {
  .section_goals .text_box {
    width: 100%;
  }
}
.section_goals .text_box .goal_box {
  display: flex;
  gap: 34px;
}
@media screen and (max-width: 600px) {
  .section_goals .text_box .goal_box {
    gap: 20px;
  }
}
.section_goals .text_box .goal_box.is_active .number {
  background-color: #fff;
}
.section_goals .text_box .goal_box.is_active .number .number_text {
  color: #000;
}
.section_goals .text_box .goal_box.is_active .title_box {
  opacity: 1;
  transform: translateY(0);
}
.section_goals .number {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  height: 60px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.section_goals .number .number_text {
  color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
}
.section_goals .progressbar_area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 350px;
}
@media screen and (max-width: 990px) {
  .section_goals .progressbar_area {
    height: 300px;
  }
}
.section_goals .progressbar_box {
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  justify-content: center;
  overflow: hidden;
}
.section_goals .progressbar {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2px;
  height: 50vh;
}
.section_goals .bar {
  background-color: #baa7a7;
  flex: none;
  height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  transform: translateY(-87%);
  transition: transform 0.5s ease-out;
}
.section_goals .title_box {
  width: 500px;
  max-width: 610px;
  height: 350px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(20%);
}
@media screen and (max-width: 1200px) {
  .section_goals .title_box {
    width: 280px;
  }
}
@media screen and (max-width: 990px) {
  .section_goals .title_box {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .section_goals .title_box {
    flex: 1;
    width: auto;
  }
}
.section_goals .title_box .goal_title {
  font-size: 55px;
  font-weight: 400;
  line-height: 1;
  white-space: pre;
}
@media screen and (max-width: 990px) {
  .section_goals .title_box .goal_title {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .section_goals .title_box .goal_title {
    white-space: normal;
    font-size: 34px;
  }
}
.section_goals .title_box .desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}
@media screen and (max-width: 990px) {
  .section_goals .title_box .desc {
    font-size: 18px;
  }
}
.section_goals .thumb_box {
  height: 1400px;
  width: 940px;
}
@media screen and (max-width: 1200px) {
  .section_goals .thumb_box {
    width: 830px;
    height: 1140px;
  }
}
@media screen and (max-width: 990px) {
  .section_goals .thumb_box {
    display: none;
  }
}

.section_log {
  padding-top: 320px;
}
.section_log .headline {
  font-size: 48px;
  font-weight: 400;
}
.section_log .headline .icon {
  color: #d2ff85;
}
.section_log .log_list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.section_log .log_link {
  display: flex;
  flex-direction: column;
  padding: 0 80px;
}
@media screen and (max-width: 990px) {
  .section_log .log_link {
    padding: 0 40px;
  }
}
@media screen and (min-width: 990px) {
  .section_log .log_link:hover .thumb_area {
    justify-content: flex-start;
  }
  .section_log .log_link:hover .thumb_box {
    position: relative;
    height: 200px;
    left: 0;
  }
  .section_log .log_link:hover .thumb_box img {
    opacity: 1;
  }
  .section_log .log_link:hover .title_box {
    flex: none;
    order: 1;
    width: -moz-min-content;
    width: min-content;
  }
  .section_log .log_link:hover .icon_arrow {
    left: 0;
    height: 21px;
    opacity: 1;
  }
}
.section_log .log_link:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(62, 57, 62);
}
.section_log .log_box {
  font-size: 60px;
  font-weight: 400;
  line-height: 0.95;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}
@media screen and (max-width: 1200px) {
  .section_log .log_box {
    font-size: 3vw;
  }
}
@media screen and (max-width: 990px) {
  .section_log .log_box {
    flex-direction: column;
    padding: 60px 0;
    font-size: 4vw;
  }
}
.section_log .thumb_area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  gap: 32px;
  height: 200px;
  transition: all 1s ease-out;
}
@media screen and (max-width: 990px) {
  .section_log .thumb_area {
    flex-direction: column;
    align-items: flex-start;
  }
}
.section_log .thumb_box {
  position: absolute;
  left: -30%;
  display: flex;
  width: 294px;
  height: 200px;
  aspect-ratio: 1.3/1;
  transition: all 0.5s ease-out;
}
.section_log .thumb_box img {
  border-radius: 20px;
  opacity: 0;
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 990px) {
  .section_log .thumb_box {
    position: relative;
    left: auto;
    aspect-ratio: auto;
    width: 100%;
    height: 100%;
  }
  .section_log .thumb_box img {
    opacity: 1;
  }
}
.section_log .title_box {
  display: flex;
  flex: 1;
  transition: all 1s ease-out;
}
.section_log .desc_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
  justify-content: space-between;
}
@media screen and (max-width: 990px) {
  .section_log .desc_box {
    align-items: flex-start;
  }
}
.section_log .icon_arrow {
  position: relative;
  left: -40%;
  top: 0;
  width: 20px;
  opacity: 0;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section_log .hashtag_box {
  display: flex;
  gap: 5px;
}
.section_log .hashtag {
  font-family: "Roobert-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgb(177, 177, 177);
}

.works_thumbnail {
  margin-top: 320px;
  display: flex;
  padding: 0 10px;
  overflow: hidden;
  gap: 2vw;
}
@media screen and (max-width: 850px) {
  .works_thumbnail {
    margin-top: 200px;
  }
}
.works_thumbnail .panel {
  width: 20vw;
  height: 30vw;
  border-radius: 8vw;
  overflow: hidden;
  position: relative;
}
.works_thumbnail .panel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works_thumbnail .panel:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.1;
  background: url("https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png");
}

.section_about {
  padding-top: 100px;
}
.section_about .headline {
  color: rgb(255, 255, 255);
  font-size: 49px;
  font-weight: 400;
  padding-bottom: 60px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.section_about .headline:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.section_about .headline:hover::after {
  opacity: 1;
  visibility: visible;
}
.section_about .title {
  font-size: 90px;
  line-height: 1.05;
  font-weight: 400;
  font-family: "Roobert-Regular", sans-serif;
  position: relative;
}
@media screen and (max-width: 990px) {
  .section_about .title {
    font-size: 74px;
  }
}
@media screen and (max-width: 600px) {
  .section_about .title {
    font-size: 36px;
  }
}
.section_about .title .text {
  color: #b0a3ff;
}
.section_about .title:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.section_about .title:hover::after {
  opacity: 1;
  visibility: visible;
}
.section_about .content_box {
  margin-top: 140px;
  display: flex;
  align-items: flex-end;
  gap: 120px;
}
@media screen and (max-width: 990px) {
  .section_about .content_box {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .section_about .content_box {
    align-items: center;
  }
}
.section_about .thumb_area {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .section_about .thumb_area {
    width: 100%;
  }
}
.section_about .thumb_box {
  border-radius: 300px;
  height: 320px;
}
@media screen and (min-width: 850px) {
  .section_about .thumb_box .color_img {
    display: none;
  }
  .section_about .thumb_box:hover .gray_img {
    display: none;
  }
  .section_about .thumb_box:hover .color_img {
    display: block;
  }
}
@media screen and (max-width: 850px) {
  .section_about .thumb_box .gray_img {
    display: none;
  }
  .section_about .thumb_box .color_img {
    display: block;
  }
}
.section_about .desc_box {
  padding-top: 40px;
}
.section_about .desc_box .text {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roobert-Regular", sans-serif;
}
.section_about .desc_box .text.character {
  color: rgb(92, 92, 92);
}
.section_about .text_area {
  flex: 1;
  max-width: 800px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  font-family: "Roobert-Regular";
}